// $primary: #276fc2;
// $secondary: #e8d21d;
// $border-radius: 1px;

$primary: #246259;
$secondary: #c4dc34;
$tonal: #9cb19c;
$light: #e5efde;
$info: #1a73e8;
$dark: #121212;

$font-family-base: Lato, Arial, Sans-serif;
$btn-font-weight: 'bold';
$btn-font-size: 1em;
$btn-primary-background-color: #9cb19c;

@import '../node_modules/bootstrap/scss/bootstrap';
